@if (time) {
  <h2>I am Custom template, curr time {{ time | date:"HH:mm:ss" }}</h2>
  <div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, perspiciatis, tempore! Aperiam asperiores aspernatur cumque cupiditate dignissimos
      distinctio ipsum itaque nihil perferendis porro reprehenderit repudiandae sapiente temporibus, unde ut voluptates!
    </div>
    <div>Accusamus adipisci alias autem beatae cupiditate facere fugiat in incidunt laudantium magnam magni minus mollitia nesciunt nihil numquam optio
      perferendis porro provident quam quis rem soluta vero vitae, voluptatem voluptates?
    </div>
    <div>Ad aliquid aperiam debitis, dolorum earum minus quidem similique ullam velit. Ad atque corporis cupiditate dolor eius error et ipsam itaque, nisi optio
      quaerat quod saepe sapiente suscipit voluptate voluptatem.
    </div>
    <div>Asperiores consequuntur deleniti facilis ipsum minima molestias provident, quae qui quisquam saepe, sapiente veritatis voluptate. Accusantium atque,
      consequuntur corporis culpa dolorum ipsam placeat praesentium repellat reprehenderit veniam, voluptas, voluptatibus! Atque?
    </div>
    <div>Consectetur dolore dolorem esse nemo nostrum quam repellat similique tempora temporibus totam. Architecto cupiditate quae quasi quia! Assumenda
      cupiditate fuga minus molestiae, numquam odio perferendis praesentium, quia repellendus sunt ullam.
    </div>
    <div>Ad commodi dolorum odit quisquam. Accusamus architecto autem consequuntur dolorem fuga id ipsum iure non perferendis quam! Architecto atque doloribus
      ducimus ea enim eveniet facilis illo placeat quia, repellendus rerum.
    </div>
    <div>Consequuntur fugit nobis provident! Accusantium commodi consequatur consequuntur excepturi in nesciunt quidem reiciendis totam voluptatibus. Blanditiis
      dolorum, explicabo fuga ipsam labore minima officia perspiciatis quisquam quos recusandae reiciendis repudiandae temporibus?
    </div>
    <div>Deleniti deserunt dignissimos doloremque, exercitationem in ipsum itaque laboriosam laudantium maiores molestiae neque officiis provident quibusdam quo
      quos sapiente tempora velit. Aliquam amet blanditiis, nesciunt nihil repellat repellendus! Quidem, reiciendis.
    </div>
    <div>Blanditiis delectus eos eveniet, exercitationem expedita fuga id labore laudantium minus mollitia nobis obcaecati officia omnis quibusdam recusandae
      sunt
      voluptatem voluptates? Accusamus animi earum illum magnam mollitia necessitatibus nesciunt vitae.
    </div>
    <div>Ad debitis eligendi odio pariatur, perferendis repudiandae! Ab at blanditiis sint veniam! Ad animi at commodi consequatur dolore doloremque error
      harum,
      ipsam iure iusto maiores molestias nam neque odit sed!
    </div>
    <div>Architecto asperiores cupiditate doloribus, dolorum eaque fugiat inventore libero nemo nostrum officia, officiis placeat sed tempora tenetur vitae?
      Assumenda beatae ducimus earum exercitationem modi nam placeat quos rerum sapiente soluta?
    </div>
    <div>Ad adipisci at eos incidunt laudantium libero neque numquam optio praesentium qui repellat, repellendus similique veniam? Aliquam at ducimus eligendi
      est
      ex excepturi, harum maiores molestiae nisi odio quos rem.
    </div>
    <div>Aliquam consectetur consequuntur doloribus exercitationem, incidunt magni non omnis praesentium qui quibusdam recusandae unde voluptatibus. Ad aut
      consectetur debitis deleniti dolor, eaque molestiae neque nobis placeat quidem quis tempore veniam!
    </div>
    <div>Animi beatae dolor eius labore, neque praesentium totam voluptates? Architecto consequuntur ducimus ea, eos, fugit, itaque iure labore libero modi non
      nulla numquam porro quam recusandae saepe tempora tempore ullam.
    </div>
    <div>Libero nemo nobis pariatur qui. Beatae, corporis cum delectus dolorem doloribus ea iure molestiae nemo nisi provident quaerat quam quia rem rerum
      saepe,
      sequi totam? Consequuntur eveniet illum nam perferendis.
    </div>
  </div>
}
