@if (time) {
  <h2>I am cx template, curr time {{ time | date: 'HH:mm:ss' }}</h2>
  <div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut, beatae culpa dolores ex fugit illum impedit iure labore laborum odio odit
      quas
      quibusdam sapiente sed sint totam voluptates, voluptatum.
    </div>
    <div>Inventore, maxime sapiente? Amet beatae earum fuga harum labore nemo officiis, possimus provident ratione temporibus. Alias blanditiis culpa
      cupiditate,
      dolorum esse id ipsam magni, molestias necessitatibus non perferendis porro repellat.
    </div>
    <div>Deleniti enim necessitatibus reiciendis. Accusantium adipisci aliquid at atque consectetur cumque, deleniti dolor ea eaque enim, odit, omnis optio
      provident quae quaerat quod ratione repudiandae sapiente sint sunt totam veniam!
    </div>
    <div>A ad assumenda, deleniti, dolor dolore ducimus ea ex impedit, inventore molestias necessitatibus reprehenderit rerum velit! Ad asperiores atque eum
      modi,
      nemo nobis numquam pariatur possimus qui reiciendis sed voluptatem.
    </div>
    <div>Aspernatur beatae earum est explicabo illo ipsum nesciunt officia quaerat, qui quo sunt tenetur unde voluptate! Assumenda aut blanditiis culpa, cum
      cumque eligendi praesentium voluptates. Ipsa nam nihil qui sequi.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda atque dolorem eaque eius esse eveniet excepturi explicabo facere hic,
      impedit in ipsum mollitia odit quam ratione rerum tenetur, voluptatem!
    </div>
    <div>Ab consequatur consequuntur cupiditate doloremque earum esse eveniet labore nam nihil officiis optio perspiciatis quaerat quasi, rerum suscipit vero
      vitae. Aliquam assumenda inventore officiis qui reiciendis. Blanditiis exercitationem ipsum quod.
    </div>
    <div>Alias amet autem consequuntur distinctio eos est eum laboriosam laudantium magnam nam, nulla quaerat quam sint vel vitae. Aperiam architecto deserunt
      laboriosam modi nihil, nobis quidem reprehenderit suscipit. Quisquam, reprehenderit!
    </div>
    <div>Accusamus adipisci amet architecto at, deleniti enim eveniet facilis in, magnam nobis non nostrum omnis perspiciatis quam rem ullam unde vel.
      Accusantium
      cupiditate laborum omnis rem unde. Cum, officiis, omnis!
    </div>
    <div>Aliquam cum dolorem modi optio reiciendis! Asperiores consequatur maiores optio perferendis tempora. Distinctio incidunt libero molestiae? Accusantium
      aliquam architecto culpa doloribus eos expedita facere harum, id illo iste, quos voluptate?
    </div>
    <div>Autem culpa doloribus dolorum error, incidunt nemo nobis non nostrum quos sint? Ab commodi consectetur consequuntur cum, deserunt, dolores est ipsa,
      itaque nisi nobis nulla quo similique sit totam voluptatem!
    </div>
    <div>Delectus facere magnam officiis repudiandae tempore vel veniam! Accusantium alias doloremque explicabo facere fugiat hic nam odit omnis ut voluptas.
      Accusantium dolor, dolorem nostrum porro qui quo rem tenetur ullam.
    </div>
    <div>Doloremque dolores ducimus fugit iusto magnam optio praesentium quae recusandae! Aliquid autem dignissimos iusto magni numquam reiciendis saepe ut.
      Accusamus at consequuntur cumque debitis distinctio doloribus, error expedita provident qui.
    </div>
    <div>Adipisci aliquid, atque autem consequatur dolor doloribus ducimus eligendi expedita explicabo illo ipsum iste itaque laboriosam maiores nam officia
      optio
      possimus, quasi qui saepe tempore ut velit voluptas voluptate voluptatibus?
    </div>
    <div>Alias, aspernatur distinctio explicabo facere fugit id illo incidunt ipsum itaque iusto laborum molestias nam officiis porro quibusdam recusandae
      repellendus sit voluptate. Aperiam autem earum inventore magnam suscipit, tempora voluptate!
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid dicta dignissimos dolor dolorem in iste iusto minima molestias nihil, quaerat
      sapiente similique ut velit vero vitae voluptatem. Nulla, officiis?
    </div>
    <div>Adipisci asperiores atque dolorum enim id officia quasi quibusdam sed tenetur veritatis? Accusamus, animi architecto aut dolores dolorum, harum libero
      nihil nulla possimus quisquam quos ratione sed tenetur, veniam voluptate.
    </div>
    <div>At atque beatae, blanditiis doloremque ea earum eligendi eos est fuga hic ipsam labore optio, perferendis quos sequi similique tempora tempore
      temporibus
      velit vitae. Consequatur deleniti expedita libero nulla sunt?
    </div>
    <div>Aliquid asperiores at dignissimos doloremque exercitationem ipsum itaque optio quisquam veniam. Ad atque doloribus dolorum, et ipsam natus neque
      nesciunt
      nisi nulla odit, perspiciatis quas sapiente veritatis. Cumque in, nisi!
    </div>
    <div>Ab consectetur deleniti dolor ex facere modi officia, pariatur quae quibusdam ratione sequi totam voluptatibus voluptatum. Amet aspernatur, culpa,
      dolorem esse exercitationem facilis necessitatibus officia, recusandae reprehenderit repudiandae sit suscipit.
    </div>
    <div>Accusantium adipisci, at consectetur, debitis distinctio dolore expedita facilis, fugit in itaque mollitia numquam odit suscipit! Consectetur
      dignissimos
      eaque maiores placeat porro quaerat ratione sequi veritatis vitae voluptas. Illum, quod?
    </div>
    <div>A alias deleniti in itaque laborum maxime necessitatibus non placeat. Aliquid architecto asperiores aut cupiditate dolor explicabo fugiat harum,
      inventore magnam modi mollitia neque nobis perspiciatis provident sit totam voluptates.
    </div>
    <div>Debitis earum magni reiciendis voluptatibus. Accusantium adipisci aliquam amet architecto aspernatur error harum, itaque libero quae qui temporibus,
      velit voluptate. Asperiores distinctio doloribus et eum laborum minima nesciunt quo voluptatum!
    </div>
    <div>Aperiam architecto aspernatur cum dignissimos eveniet excepturi exercitationem hic id illum labore minima nesciunt nostrum nulla, placeat qui
      repellendus, rerum ut, voluptate voluptatem voluptatum. Consequuntur illum incidunt laudantium? Doloremque, vero.
    </div>
    <div>A animi debitis, ducimus ea ex fugiat incidunt magni maxime nesciunt pariatur, porro quas qui soluta totam ullam ut veniam. Accusantium consequatur
      earum
      ex modi nesciunt non repudiandae sequi vitae.
    </div>
    <div>Aliquid assumenda distinctio error fugiat necessitatibus nihil, nobis odio omnis porro, sapiente, similique temporibus ut. Autem dignissimos illo
      labore
      libero, nemo quidem quisquam quod reiciendis! Asperiores delectus eius expedita nostrum.
    </div>
    <div>A, ab harum ipsam iure magni minima nesciunt nobis porro quam quasi quisquam repudiandae suscipit tempore vero voluptatum! Architecto error eveniet
      iure
      magni molestiae neque qui repellendus sint vel voluptate.
    </div>
    <div>A assumenda deleniti deserunt dolores ducimus earum eius et expedita facere id in maiores minus molestias neque, officiis perferendis placeat
      praesentium
      quis quod saepe sed sunt suscipit unde voluptas voluptates.
    </div>
    <div>Aliquid doloribus, ducimus incidunt nesciunt nobis quia sint temporibus. Adipisci alias architecto debitis ea eligendi et excepturi expedita itaque
      iure
      minima necessitatibus pariatur placeat porro quos sapiente tempore, ullam voluptatem!
    </div>
    <div>Cumque in, nesciunt! Adipisci dolore eaque explicabo ipsa maxime nisi quasi totam veritatis! Accusamus ad animi asperiores, ducimus enim id ipsam,
      magnam
      neque praesentium quam quo sit tempore temporibus, voluptatem.
    </div>
    <div>Aut porro, vitae. Animi cumque esse eveniet hic illum iusto laboriosam non provident reiciendis saepe sequi sint ullam veritatis, vitae voluptas
      voluptate voluptatum. Ducimus, nam officiis pariatur quaerat sed voluptates.
    </div>
    <div>Adipisci at consequatur cumque, esse id magnam molestiae nam obcaecati repudiandae, similique sunt, temporibus velit vitae. Beatae dicta dignissimos,
      dolorum enim harum itaque minus officiis quod saepe, sapiente sed veritatis!
    </div>
    <div>Aliquam aspernatur at culpa doloribus esse iure laudantium maxime, odio porro sapiente soluta voluptate. Architecto aspernatur beatae consectetur,
      distinctio et facilis illum in, iure modi natus perspiciatis vel vero voluptatibus.
    </div>
    <div>Aperiam mollitia praesentium qui rerum voluptatem! Alias animi at consectetur, deleniti dolor dolore dolores facere fugiat libero maiores neque
      ratione,
      suscipit voluptates! Nihil, reprehenderit sit. At autem numquam officiis quam!
    </div>
    <div>A assumenda, autem consequuntur debitis deserunt dignissimos dolores eligendi est exercitationem ipsa ipsam odit quo repellendus reprehenderit sint
      tempore velit, voluptatum! Animi at consequatur in, maxime temporibus vitae voluptatibus voluptatum.
    </div>
    <div>Fugiat nulla officiis voluptatibus! Ab blanditiis culpa, cum dolorem ea ex facilis ipsam magni nihil obcaecati officiis perferendis perspiciatis quia
      quod recusandae rerum sapiente similique tenetur totam veritatis voluptas voluptatibus?
    </div>
    <div>Id inventore libero magnam quia reprehenderit. Atque dolores esse exercitationem incidunt nobis odit reiciendis vero voluptate. Amet delectus error
      molestias nam saepe soluta. Consectetur eligendi illo, iste laborum sunt unde.
    </div>
    <div>Commodi perferendis possimus saepe totam vero. Asperiores deleniti dolores incidunt maxime minus odit pariatur sint, voluptatem. Ab aspernatur beatae
      blanditiis dolores expedita harum officiis possimus quam temporibus voluptates. Sapiente, vitae.
    </div>
    <div>Adipisci aliquid asperiores cum dolor facere maiores molestias omnis, possimus quis, ratione rerum tempora unde veniam voluptatem voluptatibus. Dolore
      dolorem mollitia nobis obcaecati! Aliquam, autem consequuntur ea id laborum tempora.
    </div>
    <div>Consectetur cum, dignissimos, dolorum ea eveniet ipsam iusto molestiae necessitatibus neque quia quis ratione sit veritatis? Aliquam aliquid, assumenda
      consequatur eligendi est et harum labore odio perferendis ratione ullam ut!
    </div>
    <div>Commodi cum eos praesentium. Laudantium obcaecati sequi, unde vel veritatis voluptatem! Blanditiis ducimus et expedita id labore laboriosam natus omnis
      perspiciatis quam quasi qui reprehenderit sunt temporibus totam ullam, voluptatibus!
    </div>
    <div>Ab accusamus alias consequatur dignissimos doloremque dolores explicabo fugiat harum in mollitia nisi, nobis numquam, officiis quidem, reiciendis
      repellat repellendus similique ut veritatis vitae? Atque eligendi quae rerum similique temporibus.
    </div>
    <div>Consequatur iusto nam necessitatibus porro quo. Architecto culpa doloremque est magni neque possimus praesentium quasi voluptatem. A nostrum odio
      voluptatum. Accusamus consequatur dolor dolorem, et magnam minima modi quos reiciendis.
    </div>
    <div>A accusamus accusantium aliquam amet at, dolores earum error esse et exercitationem id in inventore, magni molestias neque nesciunt nihil officia,
      officiis possimus provident quisquam ratione repellendus sunt veniam voluptatibus!
    </div>
    <div>A accusantium alias deserunt dolore doloribus eaque eum nisi numquam perspiciatis sequi. Aliquid excepturi explicabo magnam perspiciatis placeat quam
      quia repudiandae velit voluptatum. Cumque, eum, ullam? Amet quibusdam reprehenderit rerum!
    </div>
    <div>Animi aperiam magnam maxime provident quae quisquam soluta! Aut, doloribus eum eveniet, facere fuga impedit modi necessitatibus nesciunt odit
      perferendis
      provident quae quidem quis quisquam sit tempore vel veniam vero!
    </div>
    <div>Cupiditate ea maiores quod voluptatibus? Aut dolores libero magnam molestias pariatur praesentium, quaerat quis quo rem veniam. Blanditiis commodi
      consectetur error fuga harum incidunt, mollitia numquam quo, soluta temporibus tenetur.
    </div>
    <div>Cumque impedit modi necessitatibus odio rem ut velit? Amet eaque iste obcaecati officiis sunt? Ad consequuntur, enim est fugit illum laboriosam magnam
      numquam obcaecati placeat quas, rem ut velit, voluptatem.
    </div>
    <div>A animi, architecto aut consequatur, dolorum facere molestiae non omnis reprehenderit, sit ut velit! Cum cumque repudiandae sequi. Animi beatae est
      incidunt ipsam nemo perferendis? Culpa earum ipsam quasi repellendus.
    </div>
    <div>Ad consectetur dignissimos error impedit laborum possimus reprehenderit rerum velit! Ab, amet, cupiditate eaque, hic illum ipsum maiores maxime minus
      modi necessitatibus nesciunt praesentium quidem sint tenetur totam vel voluptatum?
    </div>
    <div>Deleniti dolore ex laudantium maxime nobis voluptatem? Earum explicabo impedit nam nemo neque porro provident quidem quis rem sint tempora ullam vel,
      velit. Atque debitis eos itaque nulla, ratione vero!
    </div>
    <div>Cumque hic ipsam molestiae odio, perspiciatis possimus quis sit ullam! Dignissimos ipsum natus, necessitatibus pariatur veritatis voluptate. Accusamus,
      alias atque blanditiis facere laudantium magni nostrum quidem reiciendis repellendus rerum sunt!
    </div>
    <div>Accusamus adipisci asperiores corporis dignissimos doloremque eos, est illo modi molestias mollitia nulla voluptatibus? Adipisci culpa cumque dicta
      dolor
      eius facere illum laboriosam natus obcaecati, pariatur quia, soluta temporibus, tenetur.
    </div>
    <div>Ad atque aut blanditiis cum dolorum et eum exercitationem modi, molestiae mollitia nemo non nostrum quaerat quisquam unde ut voluptate voluptatum!
      Aliquam aspernatur eos laudantium quasi quos reiciendis repellat ut.
    </div>
    <div>Adipisci animi at eligendi eveniet explicabo harum id in ipsa ipsam, ipsum, laborum perferendis quos sit sunt suscipit tempore vitae? Deleniti dicta et
      illo saepe suscipit tempore vero voluptate voluptatum.
    </div>
    <div>A ad, autem consequatur consequuntur cupiditate distinctio dolor eligendi esse magni molestiae nihil nisi, optio pariatur perspiciatis placeat porro
      possimus provident quae quidem quod reiciendis repellat soluta suscipit temporibus tenetur!
    </div>
    <div>Accusantium, ad animi architecto eligendi fuga impedit ipsa itaque nesciunt quasi quo repellendus, sunt tempore vitae voluptate voluptatum? Alias
      consequatur dolore ex facilis nam natus nemo optio quis quod voluptatum?
    </div>
    <div>Ad adipisci commodi corporis cum dolorem ea eaque error, facere id illum inventore ipsum magnam magni nam necessitatibus officiis perspiciatis placeat
      ratione reprehenderit rerum, saepe, temporibus tenetur ut vero voluptatibus.
    </div>
    <div>Alias aut debitis ducimus, enim esse illum laudantium maiores mollitia nihil provident quaerat quos vero voluptatem! Sapiente sit, voluptas? Autem
      culpa
      dolorem expedita ipsum labore nihil, provident repellat tempora veniam.
    </div>
    <div>Facilis magni non ratione tempora totam! Eligendi inventore nihil placeat provident quo recusandae ullam. Accusamus commodi delectus dolorem illo iusto
      laboriosam, laudantium neque nihil perspiciatis provident quo, quod, temporibus velit.
    </div>
    <div>A aspernatur atque, consequuntur deleniti dicta, dolore dolores ea est eum eveniet ex fugiat itaque libero molestias nisi odio omnis pariatur quia
      repellendus sed soluta tempora totam vitae voluptate voluptatem!
    </div>
    <div>A amet beatae deserunt, doloremque dolores doloribus ea eligendi ipsa iure, iusto minima modi provident ratione sequi totam vel voluptatibus. At
      delectus
      eos impedit, iste labore officia officiis quasi quos!
    </div>
    <div>Accusantium, amet aperiam consequatur dicta eaque, eos, in iusto officiis pariatur perferendis quo tempora voluptate! Aliquam aspernatur, corporis
      cumque
      eius et facere in ipsa officia perferendis porro voluptatem voluptates voluptatum.
    </div>
    <div>Dignissimos excepturi omnis qui? Animi deleniti dolore enim, impedit labore minus mollitia natus non obcaecati perferendis quaerat quasi repellat rerum
      sunt veniam veritatis voluptate! Accusantium atque exercitationem ipsa suscipit voluptatum?
    </div>
    <div>Animi cumque eligendi fugiat laboriosam reiciendis. Animi asperiores dolor dolorem doloremque dolores dolorum, harum inventore ipsa libero minus odit
      perferendis possimus quibusdam quo quos recusandae reprehenderit suscipit tempora tempore ut!
    </div>
  </div>
}
